header{
	font-family: Montserrat, lt;
  position: relative;

  &.landing-panel{
    padding: 3%;
    height: 680px;

    img{
      @media screen and (max-width: $tbl) {
        width: 50%;
        display: inline-block;
        margin: 10px 0px 0px;
      }
    }

    div.media{
    	background-color: inherit;
    	margin-top: 50px;

    	div{
    		display: inline-block;
    		margin: 10px 20px;

    		i{
    			font-size: 200%;
    			color: #fff;
          overflow: hidden;

          @media screen and (max-width: $tbl) {
            font-size: 150%;
          }
    		}

        &:hover{
          i{
            color: $color;
          }
        }
    	}
    }

    @media screen and (max-width: $tbl) {
      font-size: 85%;
      text-align: center;
      height: 560px;
    }
	}

  &.navigator{
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0px;
    z-index: 5;
    box-shadow: 0px 4px 12px rgba(#000, .4);

    @support(position: sticky){
      position: sticky;
    }

    @media screen and (min-width: $pad-min) {
      display: none;
    }
  }

  &.print-page{
    clear: right;
    width: 100%;
    padding: 5px;
    color: #000;
    border-bottom: 3px solid #ccc;
  }
}